<div>
    <h3 class="comments__header">
        Комментарии
    </h3>
    <div class="comments">
        {{#each comments}}
            <div class="comment comment_modal" data-id={{id}}>
                {{#if edit}}
                    <button type="button" class="comment__button-del btn btn-default quest-form__button">
                        Удалить комментарий
                    </button>
                    <button type="button" class="comment__button-upd btn btn-default quest-form__button">
                        Изменить комментарий
                    </button>
                {{/if}}
                <div class="comment__user">{{user}}</div>
                <div class="comment__content">{{content}}</div>
            </div>
        {{/each}}
    </div>
    {{#if authExists}}
        <div class="quest-form">
            <div class="comment__form quest-form__main-quest-data">
                <div class="floating-label-form-group quest-form__form-elem">
                    <label for="description" class="quest-form__input-name">Добавление комментария</label>
                    <textarea rows="3" class="form-control comment__content comment__new"
                          placeholder="Добавление комментария"></textarea>
                </div>
                <div class="quest-form__centred-container">
                    <button type="button" class="comment__button-add btn btn-default quest-form__button">
                        Добавить комментарий
                    </button>
                </div>
            </div>
        </div>
    {{/if}}
</div>
