.quest-form {
  margin: 10px;
  border-radius: 1px;

  &__input-name {
    //display: none;
  }

  &__photo-header {
    text-align: center;
    padding: 30px;
  }

  &__main-quest-data {
    //margin: 10px;
  }

  &__form-elem {
    margin: 10px;
    background-color: #fff;
  }

  &__none {
    display: none;
  }

  &__button {
    //border-radius: 1px;
    background-color: #ed5223;
    border-width: 0;
    font-size: 1.3em;
  }


  &__button:hover {
    background-color: #f4a460;

  }

  &__centred-container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}