$warning_color = #ff4136;

.redo-quest-form {
  &__error-container{
    color: $warning_color;
    position: absolute;
    top: 0;
    right: 10px;
    label {
      color: $warning_color;
    }

    &_no-quest {
      height: 29px;
      color: $warning_color;
    }
  }

  &__hidden-checker {
    margin: -9000px;

    &-error.label {
      text-align: center;
    }
  }

  &__image {
    object-fit: cover;
    overflow: hidden;
    height: 110px;
  }
}

.quest-form {
  margin: 10px;
  border-radius: 1px;

  &__input-name {
  }

  &__photo-header {
    text-align: center;
    padding: 30px;
  }

  &__main-quest-data {
    //margin: 10px;
  }

  &__form-elem {
    position: relative;
    margin: 10px;
    background-color: #fff;
  }

  &__none {
    display: none;
  }

  &__button {
    background-color: #ed5223;
    border-width: 0;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 0;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
  }

  &__button:hover {
    background-color: #f4a460;
  }

  &__centred-container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  &__photo-place {
    position: relative;
  }

  &__img-place {
    position: relative;
    float: none;
    height: 130px;
    width: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
  }

  &__file {
    max-width: 500px;
  }
}

@media screen and (max-device-width: 767px) and (max-width: 767px) {
  .quest-form {
    &__form-elem  {
      font-size: 0.7em;
    }
    &__file {
      max-width: 300px;
    }
  }
}
