{{#if isServerError}}
    <h2>Случилось страшное, но мы уже знаем об этом. Попробуйте обновить страницу. </h2>
{{else}}
    <h1>{{message}}</h1>
{{/if}}
{{#if error.stack}}
    <pre>{{error.stack}}</pre>
{{/if}}
<div class="label-error">
    <div class="label-error__container">
    </div>
</div>
