h1, h2 {
    text-align: left;
}

div {
    .label-error {
        width: 100%;
        text-align: center;
        &__container {
            margin-top: 10%;
            width: 200px;
            height: 200px;
            display: inline-block;
            background-image: url("/pictures/notfound.png");
            background-size: cover;
        }
    }
}
