<div class="container">
    <footer>
        <p class="pull-right"><a href="#">Наверх страницы</a></p>
        <p>© 2016 team5yandex, <a href="mailto:team5yandex@gamil.com">Наша почта</a> </p>
    </footer>
</div>