<h1>Register</h1>
<form method="post" action="/register">
	{{#if error}}
		<h3>{{error}}</h3>
	{{/if}}
	<input type="text" name="username"></input>
	<br><input type="password" name="password"></input>
	<br><input type="submit" name="submit"></input>
</form>
