$max_device_width = 767px;
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  color: #fff;
  border-color: #064A76;
  background-color: #064A76;

  &__name-app {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: -15px;
    padding: 10px;
    &:before {
      content: url("/pictures/research-36.png");
    }
  }

  &__img {
    width: 40px;
  }

  &__container {
    margin: 5px;
  }

  &__search-form {
    display: flex;
    align-items: center;
  }

  &__search {
    border-radius: 0;
  }
}


@media screen and (max-device-width: $max_device_width) and (max-width: $max_device_width) {
  .header {
    &__label-app {
      padding-bottom: 10px;
    }

    &__container {
      background: #064a76;
      margin: 0;
    }

    &__search-form {
      display: flex;
      align-items: center;
    }

    &__name-app {
      margin: 10px;
    }
  }
}