<header class="navbar-wrapper header">
    <div class="container-fluid header__container">
        <div class="navbar-header header__label-app">
            <a class="navbar-brand header__name-app" href="/">
                Colombo Quests
            </a>
        </div>
        <div>
            <form class="navbar-form navbar-right form__search_submit header__search-form" method="get"
                  action="quests/search">
                <input type="text" class="form-control form__search header__search" placeholder="Искать квест...">
                <input type="submit" class="form-control  btn btn-default quest-form__button" value="Найти квест">
            </form>
        </div>
    </div>
</header>
