.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #064A76 !important;
  height: 50px;
  border-color: #064A76 !important;

  &__name-app {
    font-size: 20px !important;
  }

  &__img {
    width: 40px;
  }
}