.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  color: #ffffff !important;
  border-color: #064A76 !important;
  background-color: #064A76 !important;

  &__name-app {
    font-size: 20px !important;
    color: #ffffff !important;
    font-weight: 700;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  &__img {
    width: 40px;
  }

  &__container {
    margin: 5px;
  }
}
