<header class="navbar-wrapper header">
    <div class="container-fluid header__container">
        <div class="navbar-header header__label-app">
            <!--<img src="/pictures/research-256.png" class="header__img">-->
            <a class="navbar-brand header__name-app" href="/">
                Фото-квесты
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right form__search_submit" method="get" action="quests/search">
                <input type="text" class="form-control form__search" placeholder="Search...">
                <input type="submit" class="form-control" value="Найти квест">
            </form>
        </div>
    </div>
</header>
