{{#each quests}}
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ name }} </h2>
            <p class="lead">{{ description }}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto"
                 alt="500x500"
                 src="{{ url }}">
        </div>
    </div>

    <hr class="featurette-divider">
{{/each}}