<div class="quest-card__attribute quest-card__amount">0/10</div>
<div class="quest-card__attribute quest-card__info">Этапы</div>

<!--количество лайков указать здесь!-->
<div class="quest-card__attribute quest-card__amount js-quest-value-like">{{ quantity }}</div>
<button class="quest-card__attribute quest-card__like js-quest-add-like"
        data-id="{{ id }}"
        data-like-id="{{ user_like_id }}">
    <img width="32" height="32" src="/pictures/like_orange_32.png" alt="Лайки"
         class="quest-card__like-disable {{#unless user_like_this_exist }}grayscale{{/unless}}">

</button>
<!--количество комментариев указать здесь!-->
<div class="quest-card__attribute quest-card__amount">11</div>
<div class="quest-card__attribute quest-card__info">Комментарии</div>
