<div class="col-xs-12 col-sm-4 col-sm-offset-4">

    {{#if data.user}}
    
        <form class="addquest__form" action="/add_quest" method="post" enctype="multipart/form-data">
            <label for="name">
                Название:
            </label>
            <input type="text" class="form-control" id="name" name="name">
            <label for="description">
                Описание:
            </label>
            <textarea class="form-control" id="description" name="description"></textarea>
            <label for="cover">
                Аватарка
            </label>
            <input type="file" id="cover" name="cover">
            <h3>Фотографии</h3>
            <div class="addquest__photoplace"></div>
            <div class="addquest__addphoto btn btn-default">
                Добавить
            </div>
            <br><input type="submit" class="btn btn-default" value="Отправить"></input>
        </form>
        
        <div class="addquest__template">
            <label for="pictureName">
                Имя фотки
            </label>
            <input type="text" class="form-control" id="pictureName" name="pictureNames[]">
            <label for="pictureDescription">
                Описание
            </label>
            <input type="text" class="form-control" id="pictureDescription" name="pictureDescriptions[]">
            <label for="pictureLocation">
                Местонахождение
            </label>
            <input type="text" class="form-control" id="pictureLocation" name="pictureLocations[]">
            <label for="cover">
                Фотография
            </label>
            <input type="file" class="addquest__picInput" id="cover" name="pictureFiles[]">
            <button type="button" class="addquest__removephoto btn btn-default">
                Удалить
            </button>
        </div>
   
   {{else}}
        <h1>Пожалуйста, залогиньтесь</h1>
    {{/if}}
</div>