<h1 class="page-header">Квесты</h1>
{{#each quests}}
        <div class="row">
            <div class="col-xs-12 col-sm-8">
            <a href="/guests/{{ id }}">
                <h2 class="featurette-heading">{{ name }} </h2>
            </a>
            <p class="lead">{{ description }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto"
                 alt="500x500"
                 src="{{ url }}">
            </div>
        </div>
    <hr class="featurette-divider">
{{/each}}
