.quest-index {
  &__header {
    font-size: 4rem;
  }

  &__img {
    width: 300px;
    height: 471px;
  }

  &__img-container {
    text-align: center;
  }

  &__article {
    background-color: #fff;
    padding: 30px;
    margin: 0;
    height: 471px;
  }

  &__description {
    font-size: 2.3rem;
    margin: 10px 0;
  }

  &__text {
    font-size: 1.8rem;
  }
}

@media screen and (mib-device-width: 787px) and (min-width: 767px) {
  .quest-index {
    &__article {
      margin: 0;
      height: auto;
    }
  }
}


@media screen and (min-device-width: 786px) and (min-width: 768px) and\
(max-device-width: 1200px) and (max-width: 1200px){
  .quest-index {
    &__header {
      font-size: 3.7rem;
    }

    &__article {
      margin: 0 30px;
      height: 471px;
    }

    &__description {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.7rem;
    }
  }
}

