<h1 class="page-header quest-page-header ">Добавление квеста</h1>
<section class="row">
    {{#if data.user}}
        {{> form/questForm}}
    {{else}}
        <p>Для доступа к данной странице необходимо быть авторизованным пользователем.</p>
    {{/if}}
</section>