<div class="footer__space"></div>
<footer class="quest-footer">
    <div class="container quest-footer__container">
        <p class="pull-right"><a href="#">Наверх страницы</a></p>
        <p>© 2016 team5yandex, <a href="mailto:team5yandex@gamil.com">Наша почта</a> </p>
    </div>
</footer>

