<div class="quest-footer__space"></div>
<footer class="quest-footer">
    <div class="container quest-footer__container">
        <p class="pull-right quest-footer__up"><a href="#">Наверх страницы</a></p>
        <p class="quest-footer__pull-right">© 2016 team5yandex, <a href="mailto:team5yandex@gamil.com">Наша почта</a>
        </p>
    </div>
</footer>

