
html {
  position: relative;
  min-height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffe87c !important;
}

a {
  color: #ed5223 !important;
}

.container {
  width: auto;
  padding: 0 15px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
