<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/layout.css' />
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel="stylesheet" />
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/layout.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/pictures/favicon.ico" type="image/x-icon">
</head>
<body>
{{> header/header }}
<div class="container-fluid">
    <div class="row">
        {{> menu/menu }}
        <main class="col-sm-9  col-md-10 wrapper">
            {{{body}}}
        </main>
    </div>
</div>
{{> footer/footer }}
</body>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="/layout.js"></script>
</html>
