
html {
  position: relative;
  min-height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //font: 14px "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4a460 !important;
}

a {
  color: #ed5223 !important;
}

.container {
  width: auto;
  padding: 0 15px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.quest-main {
  margin: 80px 0 0 30%;
}

.quest-container {
  margin-top: 55px;
}

