html {
  position: relative;
  min-height: 100%;
}

body {
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f0fff0;
}

a {
  //color: #ed5223 !important;
}

.container {
  width: auto;
  padding: 0 15px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.quest-main {
  margin: 80px 0 0 30%;
}

.quest-container {
  margin-top: 55px;
}

.quest-page-header {
  font-size: 3.1rem;
  text-align: center;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  background-color: #ed5223;
  color: #fff;
  border-radius: 0;
  border-width: 0;

  &:hover {
    background-color: #f4a460;
  }
}


@media screen and (max-width: 767px) and (max-device-width: 767px) {
  .no-mobile {
    display: none;
  }
}