<menu class="nav nav-sidebar col-sm-3 col-md-2 col-xs-16 quest-menu">
    <ul class="quest-menu__menu-list">
        <li class="quest-menu__menu-elem">
            <a href="/quests">Фото-квесты</a>
        </li>
            {{#if authExists}}
                <li class="quest-menu__menu-elem">
                    <a href="/quests/add">Добавить квест</a>
                </li>
                <li class="quest-menu__menu-elem">
                    <a href="/logout">Выйти</a>
                </li>
            {{else}}
                <li class="quest-menu__menu-elem">
                    <a href="/login">Вход</a>
                </li>
                <li class="quest-menu__menu-elem">
                    <a href="/register">Регистрация</a>
                </li>
            {{/if}}
    </ul>
</menu>
